#map { height: 600px;}
#zoomin { position: relative; background-color: red; width: 100px; height: 100px;}
#zoomout { position: relative; background-color: green; width: 100px; height: 100px; left: 100px; top: -100px}
#text{position: relative; top: -200px; left: 220px; color:'black';}